*, 
*::before, 
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gill Sans', 'Century Gothic', sans-serif;
}

.container{
    @include width_marginAuto (98%);
}

.section__main{
    @include width_marginAuto(97%);
}

// a{
//     text-decoration-color: $color-sunglow;
//     font-size: 15px;
// }

