/* Tablet media queries*/

@media screen and (min-width: 768px) {

    .container-main {
      
      @include width_marginAuto(90%);
    }
    
    .nav {
      &__logo {

        width: 27%;

      }
    }
  
    .main {
      display: flex;
      flex-wrap: wrap;
  
      &__imagepost {

        @include width_height(50%, 300px);
      }
  
      > div {
        padding-left: 12px;
      }

      .post {
        margin-bottom: 20px;
        &__line-grey {
          display: none;
        }
      }
    }
  
      
    .buttonyellow {
      @include width_marginAuto(80%);
    }
  
/*Footer*/

    .social {
      display: flex;
      flex-wrap: wrap;
  
      .item:nth-child(1) {
        padding-top: 50px;
      }
  
      .item{
        width: 50%;
  
        &__icons {
          margin-top: 50px;
        }
      }
    }
    

    /*Subscribe section*/

    .subscribe {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  
      &__section {
        width: 40%;
        border-left: 1px solid grey;
  
        div {
          padding-left: 22px;
        }
      }
  
      &__section:first-of-type {
        padding: 20px 0;
      }
  
      &__section:last-of-type {
        height: 100%;
        padding: 20px 0;
        margin-top:0;
  
        h3 {
          margin-bottom:0;
        }
        
      }
    }
  }
  
/* Desktop media queries*/

@media screen and (min-width:1023px) {
    .container-main {
      // width: 60%;
      // margin: auto;
      @include width_marginAuto(60%);
    }
  
    .nav {
      align-items: center;
  
      &__image {
        width: 15%;
      }
    
      &__icon-bars {
        display: none;
      }
  
      &__options {
        display: block;
        background-color: red;
      }
  
      &__option {
        color: $color-gray;
        display: block;
        border-left: 2px solid $color-sunglow;
        padding-left: 20px;
      }
  
      &__option:last-of-type {
        padding-right: 30px;
      }
    }
  
    hr {
      margin-top: 18px;
    }
  
    header {
      h1 {
        font-size: 44px;
      }
    }
  
    .follow {
      .item{
        width: 24%;
      }
    }
  }