footer {
    .social {
      text-align: center;
      background-color: $color-mine-shaft;
      color: white;
      margin-bottom: 0;
    }
  
    .item {
      padding-top: 30px;
      padding-bottom: 30px;

      &__headers {
        h3 {
          margin: 0;
        }
      }
  
      &__icons {
        margin-top: 20px;
      }
  
      i {
        font-size: 24px;
      }
  
      &__icon__twitter {
        color: $color-picton-blue;
      }
  
      &__icon__facebook {
        margin: 0 10px;
        color: $color-chambray;
      }
  
      &__icon__instagram {
        color: $color-horizon;
      }
  
      &__context {
        @include width_marginAuto(80%);
  
        font-size: 18px;
      }
  
  
  
      &__joinlink {
        
        &__joinus {

          border-bottom: 3px solid $color-sunglow;
          display: inline-block;
        } 
      }
    }
  }


  /*Subscribed section*/

  .subscribe {
    background-color: $color-alto;
    padding: 20px 0 20px 10px;
    letter-spacing: 2px;
  
    &__section {
      
        h3 {
        margin-top: 0;
      }
  
      input {
        height: 25px;
      }
  
      button {
        @include width_height(80px, 25px); 
  
        background-color: $color-sunglow;
        padding: 2px;
      }
    }
  
    &__followUs {
      margin-top: 35px;
    }
  }