header {

    font-family: Helvetica;
    h1 {
      letter-spacing: 7px;
      margin-top: 50px;
      margin-bottom: 40px;
    }
  
    h2 {
      letter-spacing: 3px;
    }
  }
  
  
  .more {
    &__text {
      display: inline-block;
      border-bottom: 3px solid #FECD2E;
      margin-bottom: 20px;
    }
  }