.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  
    @include width_height(100%, 50px);
    
  
    &__logo {
      width: 30%;
      display: block;
    }
  
    &__hidden-menu {
      font-size: 28px;
      align-self: center;
      margin-right: 10px;
    }
  
    &__menu {
      display: none;
    }
    
    &__index {
      display: none;
    }
  }