.main {
    width: 100%;

    &__imagepost {
        width: 100%;
      }
  
    h3 {
      letter-spacing: 3px;
    }
  
    &__titlepost {
      margin-top: 0;
      margin-bottom: 0;
    }    
  
    &__paraghpost {
      display: flex;
      margin: 0;
    }
  
    &__greyline {
      @include width_height(7px, 75px);
  
      background-color: $color-gray;
      margin-right: 10px;
      align-self: center;
    }
  
    &__monkeyVideo {
      width: 70%;
      margin: 20px auto;
      display: block;
    }
  }
  
  .buttonyelow {
    margin-bottom: 50px;
  
    button {
      @include width_height(100%, 45px);
  
      font-size: 14px;
      background-color: $color-sunglow;
      border: 3px solid $color-black;
      padding: 10px 0;
    }
  }
  